@media screen and (min-width: 801px) {
    .smallerfont {
        font-size: 18px;
    }
}

/* For screens narrower than or equal to 800px */
@media screen and (max-width: 800px) {
    .smallerfont {
        font-size: 14px;
    }
}

@media screen and (min-width: 801px) {
    .evensmallerfont {
        font-size: 16px;
    }
}

/* For screens narrower than or equal to 800px */
@media screen and (max-width: 800px) {
    .evensmallerfont {
        font-size: 12px;
    }
}
@media screen and (max-width: 800px) {
    .custom-tab {
        font-size:10px !important;
    }
}

.smallerfont .custom-control-label::after {
    content: attr(data-after);  /* This will be the part you want to style differently */
    font-size: 12px;  /* Smaller font size */
}

/* Target the main part of the label and hide the marker */
.smallerfont .custom-control-label {
    font-size: 16px;  /* Main font size */
    /* Use a regular expression to remove the marker and everything after it */
    content: regex("^([^\|]*)");
}

#chart3 > div.js-plotly-plot > div > div > svg:nth-child(3) > g.menulayer > g > g.updatemenu-header-group > g:nth-child(1) > rect:hover {
    fill: rgb(30, 30, 30) !important; /* Light gray color */
}

#chart3 > div.js-plotly-plot > div > div > svg:nth-child(3) > g.menulayer > g > g.updatemenu-header-group > g:nth-child(2) > rect:hover {
    fill: rgb(30, 30, 30) !important; /* Light gray color */
}

.updatemenu-button:hover{
    fill: rgb(30, 30, 30) !important;
}

.updatemenu-item-text:hover {
    fill: rgb(30, 30, 30) !important; /* Light gray color */
}

.custom-link:hover {
    color: #1a8cff;
}
.custom-link {
    color : #0d6efd;
}